.yellow {
    background-color: yellow !important;
}
.orange {
    background-color: orange !important;
}
.red {
    background-color: rgba(255, 0, 0, 0.705) !important;
}
.green {
    background-color: green !important;
    color: white;
}
.black {
    background-color: black !important;
    color: white;
}

.palette {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 1px;
    box-sizing: border-box;
    border-color: var(--lwc-colorBorderInputActive,rgb(21, 137, 238));
    box-shadow: var(--lwc-shadowButtonFocus,0 0 3px #0070D2);
}

.record-header {
    font-size: 1.025rem;
    font-weight: 700;
    line-height: 1.25; 
}

.record-footer {
    font-size: 0.8rem;
    font-weight: 700;
}

.containerPadding  {  
    line-height: 30px;
    max-width: 80rem !important;
    width: 80% !important;
} 
.icon {
    position: absolute;
    right: 10px;
    top: 9px;
}

.marketingPartnerDropdown {
    /* top: 52px; */
}
.marketingPartnerLabel {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    line-height: 1.5;
    color: rgb(62, 62, 60);
}
.marketingPartnerLabelRed {
    color: rgb(194, 57, 52);
}