.yellow {
    background-color: yellow !important;
}
.orange {
    background-color: orange !important;
}
.red {
    background-color: rgba(255, 0, 0, 0.705) !important;
}
.black {
    background-color: black !important;
    color: white;
}

.palette {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 1px;
    box-sizing: border-box;
    border-color: var(--lwc-colorBorderInputActive,rgb(21, 137, 238));
    box-shadow: var(--lwc-shadowButtonFocus,0 0 3px #0070D2);
}

.record-header {
    font-size: 1.025rem;
    font-weight: 700;
    line-height: 1.25;
}

.record-footer {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1;
}